/* Estilos Globais */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    color: #2c3e50;
    text-align: center;
}

p {
    line-height: 1.6;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: auto;
}

header nav img {
    width: 10%;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    max-width: 1366px;
    margin: auto;
}

/* Sessão Hero - Vídeo de fundo */
.hero-section {}

/* Responsividade para telas menores */
@media (max-width: 768px) {

    section {
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        text-align: justify;
    }
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adiciona um efeito escuro sobre o vídeo */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin: 200px 60px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

.hero-content p {
    font-size: 1.5em;
}

/* Sessão Sobre */
.content-section aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: #fff;
    padding: 60px;
    gap: 10%;
    border-radius: 50px 50px 0 0;
}

.content-section aside video {
    width: 480px;
    height: 854px;
}

/* Sessão Frota */
.frota-section {
    padding: 60px 0;
}

.frota-section aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 5%;
}

.frota-section aside video {
    width: 360px;
    height: 640px;
}

/* Responsividade para segunda sessão */
@media (max-width: 768px) {
    .content-section aside {
        flex-direction: column;
        padding: 20px;
        border-radius: 0;
    }

    .content-section aside video {
        width: 240px;
        height: 426px;
    }

    .frota-section aside {
        flex-direction: column;
        padding: 20px;
    }

    .frota-section aside video {
        width: 240px;
        height: 426px;
    }

    .hero-content {
        margin: 60px;
    }

    .hero-content h1 {
        font-size: 2.5em;
    }
}

.content-left h1 {
    font-size: 3rem;
}

.content-left h1,
.content-left h2 {
    text-align: left;
}

.content-left p {
    font-size: 1.2rem;
}

.content-left aside {
    display: flex;
    align-items: center;
}

.content-left aside video {
    width: 144px;
    height: 256px;
}

.content-left aside img {
    height: 256px;
}

.content-right video {
    padding: 20px;
}

/* Sessão Pontos Turísticos */
.turismo-section {
    padding: 60px;
    background-color: #f9f9f9;
    text-align: center;
}

.turismo-section aside {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.turismo-box {
    margin: 10px;
    flex: 1;
}

.turismo-section video {
    width: 360px;
    height: 640px;
}

/* Responsividade para terceira sessão */
@media (max-width: 768px) {
    .turismo-section {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .turismo-section aside {
        flex-direction: column;
    }

    .turismo-box {
        margin-bottom: 20px;
    }

    .turismo-section video {
        width: 240px;
        height: 426px;
    }

    .content-left h1 {
        font-size: 2rem;
    }

    .content-left aside {
        flex-direction: column;
    }
    
    .content-left aside video {
        width: 240px;
        height: 426px;
        margin: 20px 0;
    }

    .content-left aside img {
        height: auto;
    }
}

.turismo-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.turismo-box p {
    margin-top: 10px;
}

/* Sessão Depoimentos */
.depoimentos-section {
    background-color: #ecf0f1;
    padding: 60px;
    text-align: center;
}

.depoimentos-section aside {
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: space-between;
}

.carousel-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.depoimentos-section video {
    width: 240px;
    height: 426px;
}

@media (max-width: 760px) {
    .ultimo {
        display: none;
    }

    .depoimentos-section {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .carousel {
        display: flex;
        flex-direction: column;
    }

    .carousel-item {
        padding: 10px;
        margin: 10px;
    }

    .depoimentos-section aside {
        flex-direction: column;
    }
}

/* Sessão Valores */
.valores-section {
    background-color: #E76F51;
    color: white;
    padding: 60px;
    text-align: center;
}

.valores-section h1 {
    color: white;
}

.pacote {
    display: inline-block;
    width: 50%;
    background-color: #F4A261;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.pacote ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Nova Sessão: Conheça nosso roteiro */
.roteiro-section {
    background-color: #fff;
    padding: 60px;
}

.roteiro-item {
    margin-bottom: 40px;
    text-align: center;
}

.roteiro-item h3 {
    color: #e67e22;
}

/* Formulário de Contato */
.contato-section {
    background-color: #f9f9f9;
    text-align: center;
    padding: 60px;
}

.contato-section div {
    margin: 60px auto;
    width: 50%;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Responsividade para Formulário */
@media (max-width: 768px) {
    .valores-section,
    .contato-section {
        padding: 60px 0;
    }

    .pacote {
        width: 70%;
    }

    .contato-section div {
        margin: 20px auto;
        width: 80%;
    }

    .roteiro-section {
        padding: 20px;
    }
}